.home__row{
    position: relative;
    display: flex;
    justify-content: center;
}

.home__col1{
    padding: 12px 0px 12px 12px;
    position: relative;
}

.home__col2{
    padding: 12px 12px 12px 12px;
    position: relative;
}

.home__col3{
    padding: 0px 0px 12px 12px;
    position: relative;
}

.home__col4{
    padding: 0px 12px 12px 12px;
    position: relative;
}

.home__col5{
    padding: 0px 0px 12px 12px;
    position: relative;
}

.home__col6{
    padding: 0px 12px 12px 12px;
    position: relative;
}

.home__col1 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.home__col2 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.home__col3 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.home__col4 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.home__col5 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.home__col6 > img{
    object-fit: cover;
    width: 100%;
    height: 581px;
}

.col1__overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    color: white;
    min-width: 400px;
}

.col1__overlay > h2{
    font-size: 40px;
    font-weight: 600;
    background: rgb(202,219,253);
    background: linear-gradient(180deg, rgba(202,219,253,1) 0%, rgba(125,161,254,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1px;
}

.col1__overlay > h3{
    font-size: 21px;
    font-weight: 500;
}

span{
    position: absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.home__fourthLinks > h4{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.home__fourthLinks{
    position: relative;
    text-align: center;
    z-index: 2;
}

.home__fourthLinks a{
    color: #6d89d3;
    font-weight: 500;
    text-decoration: inherit;
}

.link{
    display: inline;
}

.home__fourthLinks a:hover{
    text-decoration: underline;
}

.link a:hover{
    text-decoration: none;
}

.home__fourthLinks a:visited{
    color: #6d89d3;
}

sup{
    font-size: 11px;
}

.col2__overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    text-align: center;
    color: white;
    min-width: 400px;
}

.col2__overlay > h3{
    font-size: 21px;
    font-weight: 400;
    color: black;
    padding-top: 10px;
    letter-spacing: -0.5px;
}

.home__fourthLinks__col2{
    padding-top: 10px;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 18px;
}

.home__fourthLinks__col2 a{
    color: #6d89d3;
    font-weight: 500;
    text-decoration: inherit;
}

.home__fourthLinks__col2 a:visited{
    color: #6d89d3;
}

.home__fourthLinks__col2 a:hover{
    text-decoration: underline;
}

.arrow a:hover{
    text-decoration: none;
}

.second__arrow a:hover{
    text-decoration: none;
}

.col3__overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    text-align: center;
    color: black;
    min-width: 400px;
}