.home__second{
    margin-top: 8px;
    background-color: #35283c;
    color: #fbfbfd;
    text-align: center;
    position: relative;
}

span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.home__secondLinks a:visited{
    color: #3e89d7;
}

.home__second > h2{
    padding-top: 42px;
    font-size: 57px;
    font-weight: 600;
}

.home__second > h3{
    color: #fec2eb;
    font-size: 27px;
    font-weight: 500;
}

.home__second > img{
    margin-top: 34px;
    margin-bottom: -4px;
}

.home__secondLinks{
    text-align: center;
    position: relative;
    z-index: 2;
}

.home__secondLinks a{
    text-decoration: inherit;
    color: #3e89d7;
    font-weight: 500;
}

.arrow{
    padding-right: 30px;
    display: inline;
}

.second__arrow{
    display: inline;
}

.home__secondLinks a:hover{
    text-decoration: underline;
}

.arrow a:hover{
    text-decoration: none;
}

.second__arrow a:hover{
    text-decoration: none;
}

.home__secondLinks > h4{
    margin-top: 15px;
    width: 100%;
    font-size: 21px;
    letter-spacing: -0.25px;
    height: 30px;
}